.timetablePage header {
    width: 90%;
    margin: 35px auto 20px;
    display: flex;
    justify-content: space-between;
}

.timetablePage header svg {
    margin: 0 5px;
}

.timetablePage .searchBar {
    border: 1px solid var(--card-color);
    background-color: var(--card-color);
    width: 90%;
    margin: 20px auto;
    padding: 5px 10px;
    border-radius: 5px;
}

.timetablePage .searchBar input {
    width: calc(100% - 25px);
    background-color: transparent;
}

.timetablePage .timetableContainer {
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.timetablePage .timetableContainer .timetable {
    text-align: center;
    background-image: linear-gradient(45deg, var(--card-color), #fefefe);
    border-radius: 5px;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 5px;
}

.timetablePage .timetableContainer .timetable header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50px;
}

.timetablePage .timetableContainer .timetable header, 
.timetablePage .timetableContainer .timetable header h1 {
    width: 100%;
    margin: 0;
}

.timetablePage .timetableContainer .timetable header h3 {
    font-size: .9rem;
    margin: 2px auto;
}

.timetablePage .timetableContainer2 {
    width: 90%;
    margin: 20px auto;
}

.timetablePage .timetableContainer2 .timetable table {
    width: 90%;
}

.timetablePage .timetableContainer2 .timetable table th {
    border-radius: 5px;
    box-shadow: none;
    background-image: linear-gradient(45deg, var(--secondary-color), var(--main-color));
}

.timetablePage .timetableContainer2 .timetable table div {
    background-image: linear-gradient(45deg, var(--card-color), #fefefe);
    border-radius: 5px;
    box-shadow: none;
    padding: 10px;
    width: 200px;
    margin: 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selectContainer {
    width: 90%;
    margin: 15px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.selectContainer select {
    background-color: var(--card-color);
    border-radius: 5px;
}

.flex {
    display: flex;
    width: 100%;
}

.x {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.HallContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}

.HallContainer th {
    width: 100%;
    padding: 15px 10px;
}

.HallContainer .timeContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 992px) {
    .timetablePage .timetableContainer2 .timetable table tr {
        display: grid;
    }

    .timetablePage .timetableContainer2 .timetable table th {
        width: 100%;
        padding: 10px;
    }

    .timetablePage .timetableContainer2 .timetable table div {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .selectContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}