* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --main-color: #82194e;
    --secondary-color: #4e102f;
    --card-color: #efeded;
    --font-color: #554148;
    --border-color: #707070;
}

@font-face {
    font-family: Tajawal;
    src: url('./fonts/Tajawal/Tajawal-Regular.ttf');
}

body {
    font-family: Tajawal;
}
