.container {
    width: calc(100% - 300px);
    display: none;
}

.centerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.centerSection .icon {
    background-image: linear-gradient(
        45deg,
        var(--secondary-color),
        var(--main-color)
    );
    padding: 10px;
    width: 30px;
    border-radius: 50%;
    margin: 0 auto 15px;
    color: var(--card-color);
}

.btnDelete {
    width: 150px;
    margin: 15px auto 5px;
    color: var(--card-color);
    background-color: var(--main-color);
}

@media (min-width: 283px) and (max-width: 767px) {
    .container {
        width: 100%;
        right: 0;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        width: calc(100% - 50px);
    }
}
