.section_HOD{
    padding: 33px;
    background-color: var(--card-color);
    min-height: 100vh;
    height:auto;
}

.lecturers_header{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    margin-left: 42px;
}

.lecturers_header a {
    color: var(--font-color);
}

.lecturers_header div{
    display: flex;
}

.lecturers_header button{
    background-color: var(--main-color);
    color: var(--card-color);
    margin: 0 10px;
    width: 120px;
}

.lecturers_main{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lecturer_box{
    margin-top: 20px;
    padding: 15px;
    border:1px solid var(--font-color);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 3px 3px 0px rgba(85,65,72,0.3);
    width: 100%;
}

.labels{
    display: flex;
    gap: 5px;
    align-items: center;
}

.labels input[type='radio']{
    width: 18px;
    height: 18px;
}

.lecturers_main input[type="checkbox"]{
    width: 18px;
    height: 18px;
}


.lecturers_main input[type="number"]{
    width: 48px;
    height: 25px;
    background-color:var(--card-color);
    border-radius: 3px;
}

.lecturers_main input[type="number"]:focus{
    border: 1px solid black;
}


.editbtn{
    display: flex;
    gap: 5px;
    width: 100%;
}

.editbtn button{
    background-color: var(--main-color);
    color: var(--card-color);
    margin: 3px 8px;
    width: 60px;
}

.editbtn section{
    display: flex;
    left: 0;

}

.deletebtn{
    font-size: large;
}

@media only screen and (min-width: 992px) {
    .container{
        width: 70%;
        right: 150px;
    }
    .lecturer_box{
        width: 98%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .first_section{
        width: 100%;
        border-bottom: 2px solid var(--card-color);
        display: flex;
        gap: 10%;
    }
    .editbtn{
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px){
    .editbtn{
        flex-direction: column;
    }
}

@media screen and (min-width: 1240px) {
    .lecturers_main{
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .lecturer_box{
        margin-top: 20px;
        padding: 15px;
        border:1px solid var(--font-color);
        background-color: #fff;
        display: flex;
        gap: 20px;
        box-shadow: 0px 3px 3px 0px rgba(85,65,72,0.3);
        width: 95%;
    }
    .first_section{
        width: 200px;
    }
    .editbtn{
        flex-direction: row;
        justify-content: space-between;
        gap: 2px;
        width: 100%;
    }
}

.first_section{
    width: 100%;
    border-bottom: 2px solid var(--card-color);
    display: flex;
}

.addLecturerSection{
    display: none;
    right: 0;
}

.addLecturerSection article{
    margin-right: -10%;
}

.selected{
    color:lightgray;
}

.selected input[type="number"]{
    color: lightgray;
}

.deleteLecturer{
    display: none;
    right: 0;
}

.deleteLecturer article{
    margin-right: -10%;
    min-height: fit-content;

}

.deleteLecturer header{
    text-align: center;
}

.deletebtns{
    display: flex;
    margin-top: 10%;
    justify-content: center;
}

.deletebtns button{
    background-color: var(--main-color);
    color: var(--card-color);
    margin: 0 8px;
    width: 60px;
}