.students_header{
    margin-top: 4%;
    display: flex;
}

.students_header a{
    color: var(--font-color);
}

.students_main{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.students_main table{
    text-align: center;
    table-layout: var(--font-color);
    
}

.tableSection{
    background-color: #f7f7f7;
    padding: 30px;
    width: 55%;
    border-radius: 5px;
    box-shadow: 2px 3px 3px 2px rgba(85,65,72,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.students_main table{
    border-collapse: collapse;
}

.students_main th{
    border-left: 1px solid #707070;
    padding: 8px;
}

.students_main tbody{
    border: 1px solid var(--border-color);
    background-color: var(--card-color);
    box-shadow: 1px 3px 3px 3px var(--card-color);
    border-radius: 50px;
}

.students_main td{
    border-left: 1px solid #707070;
    padding: 8px;
}

.students_main input{
    background-color: transparent;
    text-align: center;
    width:40px;
    height: 20px;
}

.table_level{
    background-color: #C9C9C9;
}

.div{
    position:relative;
    display: flex;
    background-color: white;
    align-items: center;
    width: 50%;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding-right: 8px;
    z-index: 1 ;
}

.div p{
    border-right: 1px solid var(--border-color);
    padding: 8px;
    width: 35%;
    text-align: center;
}


.div h1{
    padding: 5px; 
    padding-left: 10px;
    color: var(--font-color);  
}

.editbtn{
    display: flex;
    
}

.editbtn:hover{
    transform: scale(1.05);
    transition: 0.1s;
    color: #000;
    cursor: pointer;
}

.btnClose:hover{
    transform: scale(1.05);
    transition: 0.1s;
    color: #000;
    cursor: pointer;
}

.a2{
    background-color: #C9C9C9;
    position: absolute;
    width: 45px ;
    height: 10px;
    left: 100%;
    z-index: -1000;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

.a1{
    background-color: #C9C9C9;
    position: absolute;
    width: 17.9px ;
    height: 51px;
    left: 66.1%;
    border-right: 1px solid #707070;
    border-left: 1px solid #707070;
    border-bottom: 1px solid #707070;
    z-index: 1;
}
 
.a3{
    background-color: #C9C9C9;
    position: absolute;
    width: 17.9px ;
    height: 60px;
    left: 114.4%;
    border-right: 1px solid #707070;
    border-left: 1px solid #707070;
    border-bottom: 1px solid #707070;

}

.editSection{
    display: none;
    right: 0;
}

.editSection header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editSection article{
    margin-right: -10%;
}

.addbtn{
    padding: 7px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NoInput{
    display: flex;
    gap: 2%;
    align-items: center;
}

.NoInput input[type='text']{
    color: var(--font-color);
    font-weight: bold;
    text-align: center;
    border: 1px solid var(--card-color);
    border-radius: 5px;
    background-color: #f7f7f7;
}

.groupText{
    display: flex;
    gap: 2%;
    align-items: center;
}

.groupText label{
    font-weight: bolder;
}

.groupText input{
    color: var(--font-color);
    font-weight: bold;
    text-align: center;
    border: 1px solid var(--card-color);
    border-radius: 5px;
    background-color: #f7f7f7;
    width: 50%;
    height: 28px;
}

.groupText select{
    border: 1px solid var(--card-color);
    border-radius: 5px;
    background-color: #f7f7f7;
    width: 50%;
    color: var(--font-color);
    font-weight: normal;
    height: 30px;
    font-size: x-small;
}

.addGroup{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.1s;
    color: #000;
}