.topBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    padding: 10px 35px;
    width: 70%;
    background-color: var(--card-color);
    color: var(--font-color);
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #fff;
}

.topBar p {
    opacity: 0;
    translate: 150px;
    animation: landing 0.2s ease forwards;
}

.topBar p span {
    padding: 0 5px;
    font-size: 21px;
    font-weight: bold;
    color: var(--main-color);
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - (115px));
    width: 70%;
    margin: auto;
    background-color: var(--card-color);
}

.tableHolder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 10px;
    width: 100%;
    padding: 20px 150px;
    overflow: scroll;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.sectionDivider {
    width: 35%;
    text-align: center;
}

.iconDivider {
    width: 20%;
    text-align: center;
}

.status {
    background-color: #F7F7F7;
    height: 60px;
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.title {
    font-size: 16px;
}

.sectionStatus {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    padding-right: 10%;
}

.sectionStatus p {
    margin-right: 10px;
}


.sectionIcon {
    font-size: 26px;
    color: var(--main-color);
}

.button {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 40px;
    font-size: 16px;
    background: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

/*? Large Screens  */
@media (min-width: 992px) {
    .content {
        max-width: 800px;
    }
}

/*? Medium Screens  */
@media (max-width: 991px) {
    .content {
        max-width: 600px;
    }
}

/*? Small to Medium Screes  */
@media (min-width: 283px) and (max-width: 600px) {
    .title {
        font-size: 19px;
    }

    .content {
        max-width: 100%;
        padding: 0px 10px;
    }

    .sectionIcon {
        font-size: 26px;
    }

    .section {
        font-size: 16px;
    }
}

@keyframes landing {
    to {
        translate: 0;
        opacity: 1;
    }
}

.result {
    color: var(--font-color);
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
}

.result a {
    padding: 0 5px;
    font-size: 21px;
    font-weight: bold;
    color: var(--main-color);
    text-decoration: underline;
}