.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 35px;
    width: 70%;
    background-color: var(--card-color);
    color: var(--font-color);
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #fff;
}

.topBar p {
    opacity: 0;
    translate: 150px;
    animation: landing 0.2s ease forwards;
}

.topBar p span {
    padding: 0 5px;
    font-size: 21px;
    font-weight: bold;
    color: var(--main-color);
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - (115px));
    width: 70%;
    margin: auto;
    background-color: var(--card-color);

}

.page .departmentsContent {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 10px 10px;
    width: 100%;
    flex-wrap: wrap;
    overflow: scroll;
}

.page .departmentsContent .departmentSection {
    width: 250px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    font-size: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    translate: 0 150px;
    opacity: 0;
    animation: landing 0.2s ease forwards;
}

@media (min-width: 601px) {
    .section:hover {
        transform: translate(10px, -10px);
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        background-color: var(--hover-color);
        background-image: none;
        color: #fff;
        border: 0;
    }
}

/*? Large Screens  */
@media (min-width: 992px) {
    .departmentsContent {
        max-width: 980px;
    }
}

/*? Medium Screens  */
@media (max-width: 991px) {
    .departmentsContent {
        max-width: 560px;
    }
}

/*? Small to Medium Screes  */
@media (min-width: 283px) and (max-width: 600px) {
    .departmentsContent {
        width: 300px;
    }

    .departmentSection {
        width: 140px;
        height: 180px;
        font-size: 18px;
        margin-bottom: 18px;
    }

}

.departmentSection:hover {
    box-shadow: -6px -6px 5px var(--main-color), 6px 6px 5px var(--main-color), -6px 6px 5px var(--main-color), 6px -6px 5px var(--main-color)
}

.departmentImage {
    width: 110%;
}

.sectionParagraph {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
    white-space: nowrap;
    overflow: hidden;
}


.buildingSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 260px;
    height: 240px;
    margin: 20px auto;
    border-radius: 12px;
    border: 2px solid #a4a4a4;
    padding: 10px 5px;
    font-size: 20px;
    align-items: center;
}

@keyframes landing {
    to {
        translate: 0;
        opacity: 1;
    }
}