:root {
    --card-color: #efeded;
    --font-color: #554148;
    --border-color: #707070;
    --hover-color: #707070;
}


.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 35px;
    width: 70%;
    background-color: var(--card-color);
    color: var(--font-color);
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #fff;
}

.topBar p {
    opacity: 0;
    translate: 150px;
    animation: landing 0.2s ease forwards;
}

.topBar p span {
    padding: 0 5px;
    font-size: 21px;
    font-weight: bold;
    color: var(--main-color);
}

.topBar .semester {
    display: flex;
}


@media (min-width: 283px) and (max-width: 767px) {
    /* .topBar {
        flex-direction: column;
    }

    .semesterInteraction {
        display: flex;
        justify-content: space-evenly;
        width: 100vw;
    } */
}


.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - (115px));
    width: 70%;
    margin: auto;
    background-color: var(--card-color);

}


.sectionHolder {
    height: 100%;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, minmax(25%, 1fr));
    grid-template-rows: repeat(2, minmax(160px, 15%));
    gap: 8% 2%;
    box-sizing: border-box;
    margin: auto;
    max-width: 1000px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, var(--secondary-color), var(--main-color));
    padding: 5px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s linear;
    opacity: 0;
    translate: 0 -150px;
    animation: landing 0.35s ease-out forwards;
}

@media (min-width: 601px) {
    .section:hover {
        transform: translate(10px, -10px);
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        background-color: var(--hover-color);
        background-image: none;
        color: #fff;
        border: 0;
    }
}

/*? Large Screens  */
@media (min-width: 992px) {
    .sectionHolder {
        max-width: 1000px;
    }
}

/*? Medium Screens  */
@media (max-width: 991px) {
    .sectionHolder {
        max-width: 700px;
    }

    .sectionHolder {
        grid-template-columns: repeat(2, minmax(25%, 1fr));
        grid-template-rows: repeat(3, 130px);
        max-width: 600px;
    }

}

/*? Small to Medium Screes  */
@media (min-width: 283px) and (max-width: 600px) {
    .sectionHolder {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 110px);
        gap: 2%;
        max-width: 300px;
    }

    .section:hover {
        background-color: var(--hover-color);
        background-image: none;
        color: #fff;
        border: 0;
    }

    .section {
        font-size: 21px;
    }
}

.sectionIcon {
    display: flex;
    flex: 0.5;
    font-size: 40px;
}

.sectionParagraph {
    display: flex;
    flex: 1;
}

.odd {
    background-image: none;
    background-color: #fff;
    border: 3px solid var(--main-color);
    color: var(--main-color);
}

@keyframes landing {
    to {
        translate: 0;
        opacity: 1;
    }
}