.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 35px;
    width: 70%;
    background-color: var(--card-color);
    color: var(--font-color);
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #fff;
}

.topBar p {
    opacity: 0;
    translate: 150px;
    animation: landing 0.2s ease forwards;
}

.topBar p span {
    padding: 0 5px;
    font-size: 21px;
    font-weight: bold;
    color: var(--main-color);
}

.topBar .addButton {
    background-color: var(--main-color);
    color: #fff;
    padding: 8px 14px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 8px var(--border-color);
}

.topBar .addButton:hover {
    background-color: #fff;
    color: #000;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - (115px));
    width: 70%;
    margin: auto;
    background-color: var(--card-color);
    overflow: scroll;

}

.buildingContent {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 10px;
}

.buildingSection {
    width: 240px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 22px;
    margin-bottom: 20px;
    cursor: pointer;
    margin: 0 30px 20px 0;
    box-shadow: 5px 5px 3px #cdcdcd;
    transition: 0.3s;
}

.buildingSection:hover {
    box-shadow: 0px 8px 5px var(--main-color);
    transform: translateY(-10px);
}

.infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.infoSection h4 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 4px;
}

hr {
    height: calc(100% - 40%);
    color: var(--border-color);
}

.icon {
    font-size: 60px;
    color: var(--main-color);
}

/*? Large Screens  */
@media (min-width: 992px) {
    .buildingContent {
        max-width: 1100px;
    }
}

/*? Medium Screens  */
@media (max-width: 991px) {
    .buildingContent {
        max-width: 560px;
    }
}

/*? Small to Medium Screes  */
@media (min-width: 283px) and (max-width: 600px) {
    .buildingContent {
        width: 300px;
        justify-content: center;
    }

    .buildingSection {
        width: 220px;
        height: 160px;
        font-size: 18px;
        margin-bottom: 18px;
    }

}

@keyframes landing {
    to {
        translate: 0;
        opacity: 1;
    }
}