.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 35px;
    width: 70%;
    background-color: var(--card-color);
    color: var(--font-color);
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #fff;
}

.topBar p {
    flex: 2;
    opacity: 0;
    translate: 150px;
    animation: landing 0.2s ease forwards;
}

.topBar p span {
    padding: 0 5px;
    font-size: 21px;
    font-weight: bold;
    color: var(--main-color);
}

.topBar select {
    flex: 1;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - (115px));
    width: 70%;
    margin: auto;
    padding: 20px 80px;
    background-color: var(--card-color);
    overflow: scroll;
}

.requests {
    border: 1px solid var(--border-color);
    height: 140px;
    display: flex;
    border-radius: 8px;
    width: 100%;
    padding: 10px 30px 10px 60px;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #fefefe;
}

.select {
    width: 100px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
}

.sectionInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 18px;
    font-weight: bold;
}

.sectionConfirm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sectionHR {
    color: #E4E4E4;
    margin: 10px 0px;
}

.sectionSelect {
    width: 200px;
    border: 2px solid #E4E4E4;
    border-radius: 6px;
    font-size: 16px;

}

.sectionButton {
    font-size: 18px;
    width: 80px;
    height: 36px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: var(--main-color);
}

.sectionButton:hover {
    background-color: var(--border-color);
}

/*? Large Screens  */
@media (min-width: 992px) {
    .reviewRequests {
        max-width: 800px;
    }
}

/*? Medium Screens  */
@media (max-width: 991px) {
    .reviewRequests {
        max-width: 560px;
    }
}

/*? Small to Medium Screes  */
@media (min-width: 283px) and (max-width: 600px) {
    .reviewRequests {
        max-width: 300px;
    }

    .requests {
        flex-direction: column;
        height: 300px;
        padding: 10px;
        justify-content: space-evenly;
    }

    .sectionInfo {
        font-size: 16px;
    }

    .sectionButton {
        font-size: 16px;
        width: 60px;
        height: 30px;
        margin-top: 8px;
    }

    .navLink {
        font-size: 16px;
    }
}

@keyframes landing {
    to {
        translate: 0;
        opacity: 1;
    }
}