* { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


:root {
    --main-color: #82194e;
    --secondary-color: #4e102f;
    --card-color: #efeded;
    --font-color: #554148;
    --border-color: #707070;
    --hover-color: #707070;
}

.navLink {
    display: flex;
    padding: 20px;
    padding-right: 100px;
    justify-content: start;
    align-items: center;
    color: #554148;
    font-size: 20px;
    list-style-type: none;
}

.navSection {
    display: flex;
}
.navButton {
    border: none;
    width: 110px;
    height: 35px;
    border-radius: 8px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.navLink a {
    text-decoration: none;
    color: #554148;
    font-weight: bold;
}

.navLink p{
    margin: 0px 5px;
    color: #554148;
    font-size: 20px;
    font-weight: bold;
}

.departmentsContent {
    padding-top: 20px;
    margin: auto auto;
    width: 980px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.departmentSection {
    width: 260px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    font-size: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

@media (min-width: 601px) {
    .section:hover {
        transform: translate(10px,-10px);
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        background-color: var(--hover-color);
        background-image: none;
        color: #fff;
        border: 0;
    }
}
/*? Large Screens  */
@media (min-width: 992px) {
    .departmentsContent {
        max-width: 980px;
    }
}
/*? Medium Screens  */
@media (max-width: 991px) {
    .departmentsContent {
        max-width: 560px;
    }
}
/*? Small to Medium Screes  */
@media (min-width: 283px) and (max-width: 600px) {
    .departmentsContent {
        width: 300px;
    }

    .departmentSection {
        width: 140px;
        height: 180px;
        font-size: 18px;
        margin-bottom: 18px;
    }

}

.departmentSection:hover {
    box-shadow: -6px -6px 5px var(--main-color),6px 6px 5px var(--main-color),-6px 6px 5px var(--main-color),6px -6px 5px var(--main-color)
}

.departmentImage {
    width: 110%;
}

.sectionParagraph {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
    white-space: nowrap;
    overflow: hidden;
}


.buildingSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 260px;
    height: 240px;
    margin: 20px auto;
    border-radius: 12px;
    border: 2px solid #a4a4a4;
    padding: 10px 5px;
    font-size: 20px;
    align-items: center;
}

