* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


:root {
    --main-color: #82194e;
    --secondary-color: #4e102f;
    --card-color: #efeded;
    --font-color: #554148;
    --border-color: #707070;
    --hover-color: #707070;
    --background-color: #EFEEEE;
}

.navLink {
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
    font-size: 20px;
    list-style-type: none;
}

.links {
    display: flex;
    flex-direction: row;
}

.navButton {
    border: none;
    width: 110px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.navButton:hover {
    background-color: var(--border-color);
    transform: translate(-2px, -2px);
}

.navLink a {
    text-decoration: none;
    color: #554148;
    font-weight: bold;
}

.navLink p {
    margin: 0px 5px;
    color: #554148;
    font-size: 20px;
    font-weight: bold;
}


.lectureorsContainer {
    margin: 0px auto;
    background-color: var(--background-color);
    max-width: 1200px;
    padding: 0px 80px;
}


.lectureor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px auto;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    background-color: #fff;
    height: 150px;
    padding: 5px 25px;
    font-size: 22px;
    box-shadow: 0px 3px 5px var(--border-color);
}

.name {
    font-weight: bold;
}

.infoSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 33%;
}

.lecturerAvailabel {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
}

.checkBox {
    height: 20px;
    width: 20px;
}

.labels {
    font-size: 18px;
    font-weight: bold;
}

.availabelDays {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.daysInput {
    border: 2px solid var(--border-color);
    border-radius: 4px;
    margin-right: 10px;
    width: 80px;
    height: 30px;
}

.sectionHR {
    margin: 10px 2.5%;
}

.daySection {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 67%;
}

.checkboxDays {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*? Large Screens  */
@media (min-width: 992px) {
    .lectureorsContainer {
        max-width: 1100px;
    }
}

/*? Medium Screens  */
@media (max-width: 991px) {
    .lectureorsContainer {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }

    .lectureor {
        margin: 15px auto;
        height: 160px;
        font-size: 20px;
    }

    .labels {
        font-size: 16px;
    }
}

/*? Small to Medium Screes  */
@media (min-width: 283px) and (max-width: 600px) {

    .navLink {
        font-size: 16px;
        flex-direction: column;
        width: 100%;
    }

    .navButton {
        margin-top: 10px;
        width: 95px;
        height: 35px;
        font-size: 14px;
    }

    .lectureorsContainer {
        max-width: 100%;
        flex-wrap: wrap;
        margin: 0px 20px;
        padding: 0px 10px;
    }

    .lectureor {
        flex-direction: column;
        height: 250px;
        font-size: 18px;
    }

    .infoSection {
        width: 100%;
    }

    .daySection {
        width: 100%;
    }

    .labels {
        display: flex;
        flex-direction: column-reverse;
        font-size: 14px;
    }

}