* { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


:root {
    --main-color: #82194e;
    --secondary-color: #4e102f;
    --card-color: #efeded;
    --font-color: #554148;
    --border-color: #707070;
    --hover-color: #707070;
}

.navLink {
    display: flex;
    padding: 20px;
    padding-right: 100px;
    justify-content: flex-start;
    align-items: center;
    color: #554148;
    font-size: 20px;
    list-style-type: none;
}

.navSection {
    display: flex;
}

.navLink a {
    text-decoration: none;
    color: #554148;
    font-weight: bold;
}

.navLink p{
    margin: 0px 5px;
    color: #554148;
    font-size: 20px;
    font-weight: bold;
}


.content {
    margin: 0px auto;
    width: 800px;
}

.tableHolder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
  }

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.sectionDivider {
    width: 35%;
    text-align: center;
}

.iconDivider {
    width: 20%;
    text-align: center;
}

.status {
    background-color: #F7F7F7;
    height: 75px;
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.title {
    font-size: 24px;
}

.sectionStatus {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    padding-right: 10%;
}

.sectionStatus p {
    margin-right: 10px;
}


.sectionIcon {
    font-size: 32px;
    color: var(--main-color);
}

.button {
    display: block;
    margin: 30px auto;
    width: 120px;
    height: 40px;
    font-size: 18px;
    background: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

/*? Large Screens  */
@media (min-width: 992px) {
    .content {
        max-width: 800px;
    }
}
/*? Medium Screens  */
@media (max-width: 991px) {
    .content {
        max-width: 600px;
    }
}
/*? Small to Medium Screes  */
@media (min-width: 283px) and (max-width: 600px) {
    .title {
        font-size: 19px;
    }
    .content {
        max-width: 100%;
        padding: 0px 10px;
    }

    .sectionIcon {
        font-size: 26px;
    }

    .section {
        font-size: 16px;
    }
}
