.systemState header {
    margin: 35px auto 20px;
    display: flex;
    justify-content: space-between;
}

.systemState header h1 {
    font-size: x-large;
}

.systemState header svg {
    margin-left: 5px;
}

.systemState .contnent {
    width: 90%;
    margin: 20px auto;
}

.systemState .systemInfo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 0px 3px 2px var(--card-color);
    border-radius: 5px;
}

.systemState .systemInfo p {
    font-size: 1.1rem;
}

.systemUpdateState {
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0px 0px 3px 2px var(--card-color);
    border-radius: 5px;
}

.systemUpdateState h3 {
    margin: 5px 0 20px;
}

.systemState .inputs {
    display: flex;
    place-items: center;
}

.systemUpdateState form label {
    margin: 0 5px;
}

.systemUpdateState form input {
    border: 3px solid var(--card-color);
    border-radius: 2.5px;
    width: 200px;
    color: var(--main-color);
    font-family: Tajawal;
}

.systemUpdateState form .input {
    width: 45%;
}

.systemUpdateState form .radios {
    margin: 5px 15px 5px 0;
    display: flex;
    width: 60%;
}

.systemUpdateState form .radios input{
    width: fit-content;
    margin: 0 20px 0px;
}

.btnContaineer {
    flex-direction: row;
    margin: 25px 0 5px;
}

.systemUpdateState form .btn {
    background-color: var(--main-color);
    color: var(--card-color);
    border: none;
}

.weightsInfo {
    margin: 20px auto;
    text-align: center;
}

.systemUpdateState .weightsInfo .radios {
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: space-evenly;
}

.weightsSetting {
    margin: 20px auto;
}

.weightsSetting header {
    width: 90%;
    margin: 20px auto 1px;
}

.weightsController {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    text-align: right;
    margin: 10px auto;
}

.weightsController .containerWehigs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid var(--card-color);
    padding: 10px;
}

.weightsController .chooseWeight {
    width: 100%;
    display: flex;
}

.weightsController .chooseWeight .radio input{
    width: 50px;
    cursor: pointer;
}

.weightsRange {
    accent-color: var(--main-color);
}

datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}

option {
    text-align: center;
    width: 1rem; /* ~width of label '200' */
    font-size: 0.7rem;
}

.containerWehigs .inputNumber {
    width: 70px;
    margin: 0 5px;
}

@media (min-width: 283px) and (max-width: 767px) {
    .systemState header {
        margin: 50px 0 20px;
    }

    .systemInfo,
    .systemUpdateState .inputs,
    .systemUpdateState .inputs .radios {
        flex-direction: column;
        justify-content: center;
    }

    .systemInfo p {
        margin: 5px 0;
    }

    .systemUpdateState .inputs,
    .systemUpdateState .inputs .radios {
        margin: 15px 0;
    }

    .systemUpdateState .inputs .radio {
        margin: 5px auto;
    }
}

@media (max-width: 991px) {
    .weightsController .containerWehigs {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .weightsController .chooseWeight {
        justify-content: center;
        margin: 10px auto;
    }
}

@media (min-width: 1024px) and (max-width: 1100px) {
    .weightsController .containerWehigs {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .weightsController .chooseWeight {
        justify-content: center;
        margin: 10px auto;
    }
}